In [6]:
import mysql.connector

conexion1=mysql.connector.connect(host="localhost", user="root", passwd="")
cursor1=conexion1.cursor()
cursor1.execute("show databases")
for base in cursor1:
    print(base)
conexion1.close()

('blog',)
('blog_laravel',)
('information_schema',)
('mibasebazan',)
('multimedia',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [7]:
conexion1=mysql.connector.connect(host="localhost", 
                                  user="root", 
                                  passwd="", 
                                  database="mibasebazan")
cursor1=conexion1.cursor()
cursor1.execute("show tables")
for tabla in cursor1:
    print(tabla)
conexion1.close()

('acceso',)
('inscripcion',)
('persona',)

In [13]:
conexion1=mysql.connector.connect(host="localhost", 
                                  user="root", 
                                  passwd="", 
                                  database="mibasebazan")
cursor1=conexion1.cursor()
cursor1.execute("SELECT N.SIGLA,(SUM(CASE WHEN P.DEPARTAMENTO ='01' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='01' THEN 1 ELSE 0 END )) CH,(SUM(CASE WHEN P.DEPARTAMENTO ='02' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='02' THEN 1 ELSE 0 END )) LP,(SUM(CASE WHEN P.DEPARTAMENTO ='03' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='03' THEN 1 ELSE 0 END )) CB,(SUM(CASE WHEN P.DEPARTAMENTO ='04' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='04' THEN 1 ELSE 0 END )) oru,(SUM(CASE WHEN P.DEPARTAMENTO ='05' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='05' THEN 1 ELSE 0 END )) PT,(SUM(CASE WHEN P.DEPARTAMENTO ='06' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='06' THEN 1 ELSE 0 END )) TJ,(SUM(CASE WHEN P.DEPARTAMENTO ='07' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='07' THEN 1 ELSE 0 END )) SC,(SUM(CASE WHEN P.DEPARTAMENTO ='08' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='08' THEN 1 ELSE 0 END )) BE,(SUM(CASE WHEN P.DEPARTAMENTO ='09' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='09' THEN 1 ELSE 0 END )) PD FROM persona P INNER JOIN inscripcion N ON P.CI=N.CI GROUP BY N.SIGLA")
for fila in cursor1:
    print(fila)
conexion1.close()

('Algebra Lineal', None, None, None, None, None, None, 41.0, None, None)
('Astronomia', None, 0.0, None, None, None, None, None, None, 63.0)
('Auditoria Informatica', None, None, None, None, None, None, 50.0, None, None)
('Calculo 1', None, None, 42.0, None, None, None, 30.0, None, None)
('Calculo Diferencial', None, None, 0.0, None, None, 73.0, None, None, None)
('Categorizacion', None, None, None, None, None, None, None, 51.0, None)
('Estadistica 1', 53.0, None, 45.0, None, None, None, None, None, None)
('Estadistica 2', None, None, None, None, None, None, None, 70.0, None)
('Hidraulica', None, None, None, None, None, None, 0.0, None, None)
('Idiomas 2', None, None, None, None, None, None, 51.0, None, None)
('inf-111', None, None, None, 50.0, None, 45.0, None, None, None)
('inf-112', None, None, None, 50.0, None, 55.0, None, None, None)
('inf-113', None, None, None, 8.0, None, None, None, None, None)
('inf-121', None, None, None, 48.0, None, None, None, None, None)
('inf-154', None, None, None, None, None, None, 0.0, None, None)
('lab-111', None, None, None, 50.0, None, 55.0, None, None, None)
('lab-112', None, None, None, None, None, 55.0, None, None, None)
('lab-121', None, None, None, 48.0, None, None, None, None, None)
('Laboratio', 50.0, None, None, None, None, None, None, None, None)
('Laboratorio', None, 25.0, 33.0, None, None, None, None, None, None)
('Muestreo', None, None, None, None, None, None, None, 61.0, None)
('Multimedial', None, None, 71.0, None, None, None, None, None, None)
('quimica inorganica', None, 56.0, None, None, None, None, None, None, None)
('quimica organica', None, 45.0, None, None, 0.0, None, None, None, None)
('Robotica', None, None, 39.0, None, None, None, None, None, None)
('Sistemas Paralelos', None, None, 66.0, None, None, None, 51.0, None, None)
('Telecomunicacines', None, None, 61.0, None, None, None, None, None, None)

In [16]:
import pandas as pd
import mysql.connector

conexion1=mysql.connector.connect(host="localhost", 
                                  user="root", 
                                  passwd="", 
                                  database="mibasebazan")
query="SELECT N.SIGLA,(SUM(CASE WHEN P.DEPARTAMENTO ='01' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='01' THEN 1 ELSE 0 END )) CH,(SUM(CASE WHEN P.DEPARTAMENTO ='02' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='02' THEN 1 ELSE 0 END )) LP,(SUM(CASE WHEN P.DEPARTAMENTO ='03' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='03' THEN 1 ELSE 0 END )) CB,(SUM(CASE WHEN P.DEPARTAMENTO ='04' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='04' THEN 1 ELSE 0 END )) oru,(SUM(CASE WHEN P.DEPARTAMENTO ='05' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='05' THEN 1 ELSE 0 END )) PT,(SUM(CASE WHEN P.DEPARTAMENTO ='06' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='06' THEN 1 ELSE 0 END )) TJ,(SUM(CASE WHEN P.DEPARTAMENTO ='07' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='07' THEN 1 ELSE 0 END )) SC,(SUM(CASE WHEN P.DEPARTAMENTO ='08' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='08' THEN 1 ELSE 0 END )) BE,(SUM(CASE WHEN P.DEPARTAMENTO ='09' THEN N.NotaFinal ELSE 0 END )) /(SUM(CASE WHEN P.DEPARTAMENTO ='09' THEN 1 ELSE 0 END )) PD FROM persona P INNER JOIN inscripcion N ON P.CI=N.CI GROUP BY N.SIGLA"
df=pd.read_sql(query,conexion1)
conexion1.close
df

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                    SIGLA    CH    LP    CB   oru   PT    TJ    SC    BE    PD
0          Algebra Lineal   NaN   NaN   NaN   NaN  NaN   NaN  41.0   NaN   NaN
1              Astronomia   NaN   0.0   NaN   NaN  NaN   NaN   NaN   NaN  63.0
2   Auditoria Informatica   NaN   NaN   NaN   NaN  NaN   NaN  50.0   NaN   NaN
3               Calculo 1   NaN   NaN  42.0   NaN  NaN   NaN  30.0   NaN   NaN
4     Calculo Diferencial   NaN   NaN   0.0   NaN  NaN  73.0   NaN   NaN   NaN
5          Categorizacion   NaN   NaN   NaN   NaN  NaN   NaN   NaN  51.0   NaN
6           Estadistica 1  53.0   NaN  45.0   NaN  NaN   NaN   NaN   NaN   NaN
7           Estadistica 2   NaN   NaN   NaN   NaN  NaN   NaN   NaN  70.0   NaN
8              Hidraulica   NaN   NaN   NaN   NaN  NaN   NaN   0.0   NaN   NaN
9               Idiomas 2   NaN   NaN   NaN   NaN  NaN   NaN  51.0   NaN   NaN
10                inf-111   NaN   NaN   NaN  50.0  NaN  45.0   NaN   NaN   NaN
11                inf-112   NaN   NaN   NaN  50.0  NaN  55.0   NaN   NaN   NaN
12                inf-113   NaN   NaN   NaN   8.0  NaN   NaN   NaN   NaN   NaN
13                inf-121   NaN   NaN   NaN  48.0  NaN   NaN   NaN   NaN   NaN
14                inf-154   NaN   NaN   NaN   NaN  NaN   NaN   0.0   NaN   NaN
15                lab-111   NaN   NaN   NaN  50.0  NaN  55.0   NaN   NaN   NaN
16                lab-112   NaN   NaN   NaN   NaN  NaN  55.0   NaN   NaN   NaN
17                lab-121   NaN   NaN   NaN  48.0  NaN   NaN   NaN   NaN   NaN
18              Laboratio  50.0   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN
19            Laboratorio   NaN  25.0  33.0   NaN  NaN   NaN   NaN   NaN   NaN
20               Muestreo   NaN   NaN   NaN   NaN  NaN   NaN   NaN  61.0   NaN
21            Multimedial   NaN   NaN  71.0   NaN  NaN   NaN   NaN   NaN   NaN
22     quimica inorganica   NaN  56.0   NaN   NaN  NaN   NaN   NaN   NaN   NaN
23       quimica organica   NaN  45.0   NaN   NaN  0.0   NaN   NaN   NaN   NaN
24               Robotica   NaN   NaN  39.0   NaN  NaN   NaN   NaN   NaN   NaN
25     Sistemas Paralelos   NaN   NaN  66.0   NaN  NaN   NaN  51.0   NaN   NaN
26      Telecomunicacines   NaN   NaN  61.0   NaN  NaN   NaN   NaN   NaN   NaN